.dataset-select {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .add {
    color: green;
  }

  button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
  }

  .delete {
    color: red;
  }
}