.image-collection {
  $padding: 20px;

  margin-top: $padding;

  button {
    margin-left: 10px;
  }

  .disabled {
    // Apparently this is what you have to do to color an emoji,
    // but it may not work in every browser.
    color: transparent;  
    text-shadow: 0 0 0 lightgray;
  }

  img {
    display: inline-block;
    height: 300px;
    margin-right: $padding;
    margin-top: $padding;
    vertical-align: top;
  }

  .move-to {
    font-weight: normal;  
  }

  .selected {
    outline: solid red 3px;
  }

  .trashcan {
    margin-left: $padding;
  }
}