.image-collection {
  $padding: 20px;

  margin-top: $padding;

  button {
    margin-left: 10px;
  }

  img {
    display: inline-block;
    height: 300px;
    margin-right: $padding;
    margin-top: $padding;
    vertical-align: top;
  }

  .move-row {
    display: flex;
    align-items: center;
  }

  .move-to {
    font-weight: normal;  
  }

  .selected {
    outline: solid red 3px;
  }

  .trashcan {
    margin-left: $padding;
  }
}