body {
  font-family: Avenir, sans-serif;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  font-size: 36px;
  padding: 30px;
  text-align: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}
